doctype=html
html
  head
    title="Verify your 2FA code"
  body
    h2="Verify your 2FA code"
    form(action=url, method='POST')
        input(type='password', placeholder='2FA code', name='code')
        input(type='submit', name='submit')