@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    background-color: #F7F7F7;
}

h2 {
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
    padding-left: 20px;
    margin: 15px 0;
    line-height: 40px;
    
    font-size: 16px;
    color: #666666;
    
    border: 1px solid #E6E5E5;
}

input:focus {
    outline: none;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 50px;
    
    background-color: white;
    border: 1px solid #E6E5E5;
    box-shadow: 0px 2px 4px #00000029;
}

.primary_btn {
    width: auto;
    padding: 5px 40px;
    
    color: white;
    background-color: black;
    border: none;
    border-radius: 500px;   
}